* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
}

#zoom {
  position: fixed;
  top: 0;
  left: 0;
}

#canvas {
  position: fixed;
  inset: 0;
  z-index: 100;
  pointer-events: none;
}
