@import "../node_modules/highlight.js/styles/github-dark.min.css";
@import "../node_modules/rehype-github-alerts/dist/styling/css/index.css";

@font-face {
  font-family: "Hack";
  src: url("/assets/fonts/hack-regular-subset.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hack";
  src: url("/assets/fonts/hack-bold-subset.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hack";
  src: url("/assets/fonts/hack-italic-subset.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hack";
  src: url("/assets/fonts/hack-bolditalic-subset.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@view-transition {
  navigation: auto;
}

* {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

:root {
  @apply h-full bg-black text-zinc-300;
  color-scheme: only dark;
}

body {
  @apply min-h-full bg-zinc-900;
}

.prose a:hover:not(a[class~="not-prose"]) {
  text-decoration-line: underline;
}

.prose pre {
  @apply -mx-4;
}

.prose code {
  @apply bg-transparent text-xs;
}

.prose pre code,
.prose pre code.hljs {
  @apply p-0;
}

.prose code {
  font-family: Hack, ui-monospace, monospace;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply scroll-mt-16;
}

.prose h1 {
  line-height: 1.5;
  margin-bottom: 0.5em;
}
.prose h1 > span {
  line-height: 1.1111111;
  vertical-align: top
}

/* .prose summary {
  @apply text-zinc-400;
  pointer-events: none;
}
.prose summary::marker {
  content: "";
}
.prose details {
  @apply border-l-4 border-zinc-700 py-2 pl-4 text-zinc-400;
} */

.prose small {
  @apply text-sm text-zinc-400;
}

.prose small code {
  @apply text-zinc-300;
}

.halt {
  font-feature-settings: "halt";
}

.post figure > img {
  @apply relative z-20 cursor-pointer transition-transform data-[state=inactive]:z-0 data-[state=active]:transition-none;
}

.prose figure {
  @apply relative flex flex-col items-center;
}

/* @supports not (text-spacing-trim: normal) { */
.compress {
  @apply -mr-[0.5em];
  /* 
    NOTE: chrome123+支持了原生标点挤压，但是需要字体支持 opentype halt 或 chws 特性
    （https://www.duidaima.com/Group/Topic/CSS/19524），某些设备的默认字体不支持导致没法用。
    这里只好禁用原生的标点挤压
  */
  text-spacing-trim: space-all;
}
/* } */

#old-browser-warning-checkbox:checked + #old-browser-warning {
  @apply translate-y-full;
}

@keyframes iframe-loading-breathe {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.prose iframe {
  @apply border border-zinc-500;
}

.iframe-wrapper[data-loading] > iframe {
  @apply pointer-events-none opacity-0;
}

.iframe-wrapper[data-loading] > iframe + div {
  animation: 1s ease-in-out infinite alternate iframe-loading-breathe;
}
