@font-face {
  font-family: "Zhudou Sans";
  src: url(/assets/fonts/ZhudouSansVF.woff2);
}

@font-face {
  font-family: "Hack";
  src: url("/assets/fonts/hack-regular-subset.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url("/assets/fonts/hack-bold-subset.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url("/assets/fonts/hack-italic-subset.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Hack";
  src: url("/assets/fonts/hack-bolditalic-subset.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

:root {
  @apply h-full bg-zinc-900 text-gray-300;
  color-scheme: only dark;
}

body {
  @apply h-full;
}

.prose a:hover:not(a[class~="not-prose"]) {
  text-decoration-line: underline;
}

.prose iframe {
  @apply border border-gray-500;
}

.prose code {
  @apply text-xs;
}

.prose pre code,
.prose pre code.hljs {
  @apply p-1;
}

.prose code {
  font-family: Hack, ui-monospace, monospace;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply scroll-mt-16;
}

.halt {
  font-feature-settings: "halt";
}

.post img {
  @apply relative cursor-pointer transition-transform;
}
