@font-face {
  font-family: "Zhudou Sans";
  src: url(/ZhudouSansVF.woff2);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color-scheme: dark;
  scroll-behavior: smooth;
}

:root {
  /* min-height: 100vh; */
  @apply bg-zinc-900 text-gray-300;
}

.prose a:hover:not(a[class~="not-prose"]) {
  text-decoration-line: underline;
}

.prose iframe {
  @apply border border-gray-500;
}

.prose code {
  @apply text-xs;
}

.prose pre code,
.prose pre code.hljs {
  @apply p-1;
}

.prose code {
  font-family: Hack, ui-monospace;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  @apply scroll-mt-16;
}

.halt {
  font-feature-settings: "halt";
}
